/*Basic CSS Style*/
body {
    font-family: Arial, sans-serif;
    background: #F5F5F5;
    padding: 40px;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input, form textarea, form button{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
}

form button{
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
/*Pseudo class used for hovering over button*/
form button:hover {
    background-color: #45A049;
}

#responseMessage {
    margin-top: 20px;
    font-weight: bold;
}